<!-- Grid superior com o botão "Novo Relatório" -->
<mat-toolbar color="primary">
  <button mat-raised-button color="accent" (click)="novoRelatorio()">Novo Relatório</button>
</mat-toolbar>

<div style="margin: 20px;">
  <!-- Tabela com listagem dos relatórios -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <!-- Coluna Paciente -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Paciente </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Coluna Data do Exame -->
    <ng-container matColumnDef="exames_date">
      <th mat-header-cell *matHeaderCellDef> Data do Exame </th>
      <td mat-cell *matCellDef="let element">
        <!-- Utilize o pipe date se o campo for do tipo Date -->
        {{ element.exames_date | date:'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <!-- Coluna Data do Relatório -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Data do Relatório </th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_at | date:'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <!-- Coluna Visualizar -->
    <ng-container matColumnDef="visualizar">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button  (click)="getReport(element.id)" mat-mini-fab>
          <mat-icon aria-hidden="false" aria-label="Visualizar" fontIcon="search">Visualizar</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Coluna Excluir -->
    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button  (click)="deleteReport(element.id)" mat-mini-fab>
          <mat-icon aria-hidden="false" aria-label="Excluir" fontIcon="delete">Excluir</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cabeçalho e linhas da tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
